.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 10%;
    width: 85vw;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-right-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
}