.menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18vw;
    background-color: #26A9E0;
    color: white;
}


/* @media (max-width: 1080px) {
    .menuContainer {
        width: 50vw;
    }
} */