.menuItem {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}

.menuItem:hover {
    background-color: rgb(9, 123, 189);
    ;
}