.menuItemContainer {
    width: 100%;
}

.menuItem {
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: white;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.menuItemContainer:hover {
    background-color: rgb(9, 123, 189);
    border-radius: 15px;
}